doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title React Chat
  body()
    div#app-container
    script(type='text/javascript', src="//#{assetHost}/dist/bundle.js", charset='utf-8')
